@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

body {
  background: #fff7ee;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  position: relative;
  width: 17ch;
  font-weight: bold;
  animation: type 2.8s steps(30), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}


@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.icn{
    border-radius: 50px;
}